*~
.DS_Store

.idea/
*.iml

.gradle
build

# see aws-serverless
.localstack
.serverless
*.zip
*.log
# see aws-serverless without docker
package*.json
node_modules
/kfun

modules/http/docs/
tmp-*
local/archive/README.md
local/archive/upload-*
